<header style="margin-bottom: 20px;" class="ms-hero-page ms-hero-bg-dark-light ms-hero-img-city">
  <div class="container">
    <div class="text-center">
      <h1 class="color-primary mb-4 animated fadeInDown animation-delay-4">Monthly Calendar</h1>
      <p class="lead lead-xl center-block color-medium mb-2 animated fadeInDown animation-delay-4">{{calendar.name}}</p>
    </div>
  </div>
</header>
<div class="container">
  <div class="text-left">
    <div class="row">
      <div class="col-sm-12">
          <object ng-attr-data="/doc/{{calendar._id}}" height="1200px" width="100%"></object>
      </div>
    </div>
    <br>
  </div>
</div>
