<div class="row">
  <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <div class="panel panel-default" ng-show="!editUser">
      <div class="panel-heading">
        <h2>Make a Payment</h2>
      </div>
      <div class="panel-body">
        <form ng-submit="submit()">
          <fieldset>
            <div class="form-group is-empty" style="margin-top: 0">
              <label>Lot Number</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-home"></i>
                </span>
                <input
                  required
                  type="text"
                  id="lotNumber"
                  ng-model="cardTransReq.lotNumber"
                  placeholder="Lot #"
                  class="form-control"
                />
              </div>
            </div>
            <div class="form-group is-empty">
              <label>Amount</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-money"></i>
                </span>
                <input
                  required
                  type="number"
                  id="ssl_amount"
                  name="ssl_amount"
                  ng-model="cardTransReq.ssl_amount"
                  placeholder="Amount"
                  class="form-control"
                />
              </div>
            </div>
            <div
              class="form-group is-empty"
              style="margin-top: 10px; margin-bottom: 10px;"
            >
              <legend style="margin-top: 10px; margin-bottom: 10px;">
                Card Information
              </legend>
            </div>
            <div class="form-group is-empty" style="margin-top: 0">
              <label>First Name</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>
                <input
                  required
                  type="text"
                  id="ssl_first_name"
                  ng-model="cardTransReq.ssl_first_name"
                  placeholder="First Name"
                  class="form-control"
                />
              </div>
            </div>
            <div class="form-group is-empty" style="margin-top: 0">
              <label>Last Name</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>
                <input
                  required
                  type="text"
                  id="ssl_last_name"
                  ng-model="cardTransReq.ssl_last_name"
                  placeholder="Last Name"
                  class="form-control"
                />
              </div>
            </div>
            <div class="form-group is-empty" style="margin-top: 0">
              <label>Card Number</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-credit-card"></i>
                </span>
                <input
                  required
                  autocomplete="off"
                  type="number"
                  id="ssl_card_number"
                  ng-model="cardTransReq.ssl_card_number"
                  placeholder="Card #"
                  class="form-control"
                />
              </div>
            </div>
            <div class="form-group is-empty">
              <label>Expiration Date(MM/YY)</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </span>
                <input
                  required
                  autocomplete="off"
                  type="text"
                  id="ssl_exp_date"
                  ng-model="cardTransReq.ssl_exp_date"
                  placeholder="Expiration Date MM/YY"
                  class="form-control"
                />
              </div>
            </div>
            <div class="form-group is-empty">
              <label>CVV</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-lock"></i>
                </span>
                <input
                  required
                  autocomplete="off"
                  type="number"
                  id="ssl_cvv2cvc2"
                  name="ssl_cvv2cvc2"
                  ng-model="cardTransReq.ssl_cvv2cvc2"
                  placeholder="CVV"
                  class="form-control"
                />
              </div>
            </div>
            <div class="alert alert-danger" ng-show="error">
              {{ error }}
            </div>
            <div class="alert alert-success" ng-show="message">
              {{ message }}
            </div>
            <button
              ng-disabled="loading"
              class="btn btn-raised btn-block btn-primary"
              type="submit"
            >
              <i ng-show="loading" class="fa fa-spin fa-spinner"></i>Submit
              Payment
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
